div.label, div.value {
    padding-top: var(--lwc-spacingXxSmall);
    padding-bottom: var(--lwc-spacingXxSmall);
    padding-right: var(--lwc-spacingXxSmall);
    border-bottom-style: solid;
    border-bottom-width: var(--lwc-borderWidthThin);
    border-bottom-color: var(--lwc-colorBorder);
}

div.data-container div.label:last-child {
    zborder-bottom: 0px;
}